<p-dialog header="Title" [(visible)]="createDialog" [style]="{width: '450px'}" header="ConsigneCreate" [modal]="true">
    <ng-template ptemplate="content">

        <div class="p-float-label">
            <input id="courrier" type="text" [(ngModel)]="selected.courrier.ref" pInputText required autofocus/>
            <label for="courrier">Courrier</label>
            <small class="p-invalid" *ngIf="submitted && !selected.courrier">ce champs est obligatoire.</small>
        </div>


        <div class="p-float-label">
            <input id="libelle" [(ngModel)]="selected.libelle" type="text" pInputText required autofocus/>
            <label for="libelle">Libelle</label>
            <small class="p-invalid" *ngIf="submitted && !selected.libelle">ce champs est obligatoire.</small>
        </div>


        <div class="p-float-label">
            <input id="dateConsigne" type="text" [(ngModel)]="selected.dateConsigne" pInputText required autofocus/>
            <label for="dateConsigne">DateConsigne</label>
            <small class="p-invalid" *ngIf="submitted && !selected.dateConsigne">ce champs est obligatoire.</small>
        </div>


        <div class="p-float-label">
            <input id="responsable" type="number" [(ngModel)]="selected.responsable.id" pInputText required autofocus/>
            <label for="responsable">Responsable</label>
            <small class="p-invalid" *ngIf="submitted && !selected.responsable">ce champs est obligatoire.</small>
        </div>


        <div class="p-float-label">
            <input id="entiteAdmin" type="text" [(ngModel)]="selected.entiteAdmin.code" pInputText required autofocus/>
            <label for="entiteAdmin">EntiteAdmin</label>
            <small class="p-invalid" *ngIf="submitted && !selected.entiteAdmin">ce champs est obligatoire.</small>
        </div>

    </ng-template>


    <ng-template ptemplate="footer">

        <button pButton pRippel label="Annuler" class="p-button-raised p-button-rounded" class="p-button-text"
                icon="pi pi-times" (click)="hideCreateDialog()"></button>

        <button pButton pRippel label="Creer" class="p-button-raised p-button-rounded" class="p-button-text"
                icon="pi pi-check" (click)="save()"></button>

    </ng-template>

</p-dialog>
