<div class="p-grid">
  <div class="p-col-12">

    <p-toast></p-toast>

    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openCreate()"></button>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="items" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['typeCourrier','coordinateur','ref','numOrder','dateCourrier','dateBureauOrdre','objet','expediteur']"
               [(selection)]="selectes" [rowHover]="true" dataKey="id"
               styleClass="p-datatable-customers"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
            <h5 class="p-m-0">COURRIER</h5>
            <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  placeholder="Search..." />
                    </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="typeCourrier">typeCourrier<p-sortIcon field="typeCourrier"></p-sortIcon></th>
            <th pSortableColumn="coordinateur">coordinateur<p-sortIcon field="coordinateur"></p-sortIcon></th>
            <th pSortableColumn="ref">ref<p-sortIcon field="ref"></p-sortIcon></th>
            <th pSortableColumn="numOrder">numOrder<p-sortIcon field="numOrder"></p-sortIcon></th>
            <th pSortableColumn="dateCourrier">dateCourrier<p-sortIcon field="dateCourrier"></p-sortIcon></th>
            <th pSortableColumn="dateBureauOrdre">dateBureauOrdre<p-sortIcon field="dateBureauOrdre"></p-sortIcon></th>
            <th pSortableColumn="objet">objet<p-sortIcon field="objet"></p-sortIcon></th>
            <th pSortableColumn="expediteur">expediteur<p-sortIcon field="expediteur"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-courrier>

          <tr>
            <td>
              <p-tablecheckbox [value]="courrier"></p-tablecheckbox>
            </td>
            <td>{{courrier.typeCourrier}}</td>
            <td>{{courrier.coordinateur}}</td>
            <td>{{courrier.ref}}</td>
            <td>{{courrier.numOrder}}</td>
            <td>{{courrier.dateCourrier}}</td>
            <td>{{courrier.dateBureauOrdre}}</td>
            <td>{{courrier.objet}}</td>
            <td>{{courrier.expediteur}}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(courrier)"></button>
              <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2" (click)="view(courrier)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(courrier)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{items ? items.length : 0 }} items.
          </div>
        </ng-template>
      </p-table>
    </div>
    <app-courrier-create></app-courrier-create>
    <app-courrier-edit></app-courrier-edit>
    <app-courrier-view></app-courrier-view>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
</div>

